:root {
    font-family: Arial, Helvetica, sans-serif;

    /* COLORS */
    --col-red: #D7263D;
    --col-darkblue: #02182B;
    --col-blue: #0197F6;
    --col-grayblue: #448FA3;
    --col-lightblue: #68C5DB;
    --col-white: #E1F0F4;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    background-color: var(--col-darkblue);
    color: var(--col-white);
}

a {
    color: var(--col-blue);
    text-decoration: none;
}

a:hover {
    color: var(--col-lightblue);
    text-decoration: underline;
}

input[type=text], input[type=password] {
    background-color: rgba(0,0,0,0);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 0.2rem;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid rgba(255, 255, 255, 1);
    outline: none;
}

/* Override ugly browser autofill settings */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 40rem var(--col-darkblue) inset;
}


input::placeholder {
    color: white;
    opacity: 50%;
}

button {
    background-color: white;
    color: black;
    
    padding: 0.2rem;
    border: 2px solid white;
    transition: 0.2s ease-out;
}

button:hover {
    outline: 1px solid black;
}

button:active {
    outline: none;
    border: 2px solid black;
    background-color: black;
    color: white;
    transition: 0s;
}

input[type=checkbox] {
    width: 1.6rem;
    height: 1.6rem;
}

